.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Logo-Image {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 22px;
    font-weight: bold;
    color: #8f8ee0;
}

.Logo-Image>img {
    width: 4.5rem;
}

.HomeTab {
    font-size: 22px;
    font-weight: bold;
    color: #8f8ee0;
    border: 3px solid #6d67ef;
    border-radius: 10px;
    padding: 0.3rem 0.8rem 0.4rem 0.8rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.HomeTab:hover {
    background-color: #f7f7fd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    bottom: 1px;
}

.Search {
    border: 4px solid lightgray;
    padding: 0.2rem 0.8rem;
    border-radius: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.Search>label {
    display: flex;
    align-items: center;
}

.Search>label>input {
    outline: none;
    border: none;
    width: 15rem;
    padding: 0.5rem 0 0.5rem 0.8rem;
}

.cartIcon {
    position: relative;
    border: 2.5px solid #6d67ef;
    border-radius: 2rem;
    padding: 0.5rem 0.6rem;
    background-color: #fbfbfd;
    color: #574fdf;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.cartIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    bottom: 1px;
    background-color: #f3f3f8;
}

.cartCount {
    position: absolute;
    bottom: 1.5rem;
    color: white;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(228, 114, 114);
    border-radius: 1rem;
}

.Footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #7574e0;
    box-shadow: 0 -3px 15px -8px #333;
}

@media screen and (min-width: 1250px) {
    .Header {
        padding: 0.1rem 3rem 0.1rem 0.5rem;
    }

    .Logo-Image {
        column-gap: 0.5rem;
    }

    .Search>label>input {
        width: 20rem;
    }
}

@media screen and (max-width:550px) {
    .Search {
        display: none;
    }

    .Header {
        padding-right: 1.5rem;
    }
}